* {
  box-sizing: border-box;
}

body {
  background-color: #028bff;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
}

#canvas {
  background: #f0f0f0;
  border-radius: 12px;
  box-shadow: 5px 5px 20px #222;
}
